In [1]:
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense
import tensorflow as tf

In [2]:
url="https://archive.ics.uci.edu/ml/machine-learning-databases/letter-recognition/letter-recognition.data"
col_names=["Letter",2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]
df=pd.read_csv(url,names=col_names)
print(df)

      Letter  2   3  4  5  6   7   8  9  10  11  12  13  14  15  16  17
0          T  2   8  3  5  1   8  13  0   6   6  10   8   0   8   0   8
1          I  5  12  3  7  2  10   5  5   4  13   3   9   2   8   4  10
2          D  4  11  6  8  6  10   6  2   6  10   3   7   3   7   3   9
3          N  7  11  6  6  3   5   9  4   6   4   4  10   6  10   2   8
4          G  2   1  3  1  1   8   6  6   6   6   5   9   1   7   5  10
...      ... ..  .. .. .. ..  ..  .. ..  ..  ..  ..  ..  ..  ..  ..  ..
19995      D  2   2  3  3  2   7   7  7   6   6   6   4   2   8   3   7
19996      C  7  10  8  8  4   4   8  6   9  12   9  13   2   9   3   7
19997      T  6   9  6  7  5   6  11  3   7  11   9   5   2  12   2   4
19998      S  2   3  4  2  1   8   7  2   6  10   6   8   1   9   5   8
19999      A  4   9  6  6  2   9   5  3   1   8   1   8   2   7   2   8

[20000 rows x 17 columns]

In [3]:
x=df.iloc[:,1:]
x

       2   3  4  5  6   7   8  9  10  11  12  13  14  15  16  17
0      2   8  3  5  1   8  13  0   6   6  10   8   0   8   0   8
1      5  12  3  7  2  10   5  5   4  13   3   9   2   8   4  10
2      4  11  6  8  6  10   6  2   6  10   3   7   3   7   3   9
3      7  11  6  6  3   5   9  4   6   4   4  10   6  10   2   8
4      2   1  3  1  1   8   6  6   6   6   5   9   1   7   5  10
...   ..  .. .. .. ..  ..  .. ..  ..  ..  ..  ..  ..  ..  ..  ..
19995  2   2  3  3  2   7   7  7   6   6   6   4   2   8   3   7
19996  7  10  8  8  4   4   8  6   9  12   9  13   2   9   3   7
19997  6   9  6  7  5   6  11  3   7  11   9   5   2  12   2   4
19998  2   3  4  2  1   8   7  2   6  10   6   8   1   9   5   8
19999  4   9  6  6  2   9   5  3   1   8   1   8   2   7   2   8

[20000 rows x 16 columns]

In [4]:
y=df.iloc[:,0]
y

0        T
1        I
2        D
3        N
4        G
        ..
19995    D
19996    C
19997    T
19998    S
19999    A
Name: Letter, Length: 20000, dtype: object

In [5]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
y=le.fit_transform(y)
y

array([19,  8,  3, ..., 19, 18,  0])

In [6]:
from keras.utils import to_categorical
y=to_categorical(y)

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [8]:
x_train

       2   3  4  5  6  7   8  9  10  11  12  13  14  15  16  17
17815  1   5  1  3  1  7   7  1   8   7   6   8   0   8   3   8
18370  4   2  5  3  3  8   6  6   4   6   7   8   7   6   2   6
1379   2   4  4  2  2  7   7  2   9  12   6   8   1   8   5   8
14763  5  11  6  8  7  8   7  5   5  10   5   5   3   8   3   8
7346   3   6  4  4  3  6   7  9   5   6   6   9   3   8   5  11
...   ..  .. .. .. .. ..  .. ..  ..  ..  ..  ..  ..  ..  ..  ..
13123  3   7  4  5  3  7   7  8   5   6   5   6   3   8   3   8
19648  2   4  3  2  1  4  11  2   6  11  10   5   1  11   2   5
9845   6   9  5  4  3  8   7  4   3   9   8  10   4   8   7  11
10799  2   1  2  1  1  5  11  8   2   9   6   4   1   9   3   8
2732   5  10  5  8  7  7   8  8   6   8   6   7   2   8   8   9

[16000 rows x 16 columns]

In [9]:
y_train

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       ...,
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.]], dtype=float32)

In [10]:
model=Sequential()
model.add(Dense(64,input_shape=(16,),activation="relu"))
model.add(Dense(32,input_shape=(16,),activation="relu"))
model.add(Dense(26,input_shape=(16,),activation="softmax"))

In [11]:
model.compile(optimizer="adam",loss="categorical_crossentropy",metrics=["accuracy",tf.keras.metrics.Precision(),tf.keras.metrics.Recall()])

In [12]:
model.fit(x_train,y_train,epochs=15,batch_size=32,validation_data=(x_test,y_test))

Epoch 1/15
500/500 [==============================] - 7s 8ms/step - loss: 2.0167 - accuracy: 0.4397 - precision: 0.8964 - recall: 0.1659 - val_loss: 1.2407 - val_accuracy: 0.6715 - val_precision: 0.9049 - val_recall: 0.3947
Epoch 2/15
500/500 [==============================] - 4s 8ms/step - loss: 1.0773 - accuracy: 0.6998 - precision: 0.8995 - recall: 0.5042 - val_loss: 0.9465 - val_accuracy: 0.7337 - val_precision: 0.8997 - val_recall: 0.5990
Epoch 3/15
500/500 [==============================] - 3s 5ms/step - loss: 0.8815 - accuracy: 0.7508 - precision: 0.8991 - recall: 0.6226 - val_loss: 0.8160 - val_accuracy: 0.7747 - val_precision: 0.9009 - val_recall: 0.6727
Epoch 4/15
500/500 [==============================] - 3s 6ms/step - loss: 0.7852 - accuracy: 0.7801 - precision: 0.8996 - recall: 0.6758 - val_loss: 0.7316 - val_accuracy: 0.7997 - val_precision: 0.9004 - val_recall: 0.7143
Epoch 5/15
500/500 [==============================] - 2s 4ms/step - loss: 0.7178 - accuracy: 0.7929 - precision: 0.9044 - recall: 0.7086 - val_loss: 0.6841 - val_accuracy: 0.8060 - val_precision: 0.9164 - val_recall: 0.7287
Epoch 6/15
500/500 [==============================] - 1s 3ms/step - loss: 0.6705 - accuracy: 0.8066 - precision: 0.9058 - recall: 0.7299 - val_loss: 0.6617 - val_accuracy: 0.8070 - val_precision: 0.8949 - val_recall: 0.7427
Epoch 7/15
500/500 [==============================] - 2s 3ms/step - loss: 0.6311 - accuracy: 0.8198 - precision: 0.9114 - recall: 0.7452 - val_loss: 0.6079 - val_accuracy: 0.8313 - val_precision: 0.9141 - val_recall: 0.7692
Epoch 8/15
500/500 [==============================] - 2s 3ms/step - loss: 0.5947 - accuracy: 0.8297 - precision: 0.9173 - recall: 0.7611 - val_loss: 0.5619 - val_accuracy: 0.8382 - val_precision: 0.9205 - val_recall: 0.7812
Epoch 9/15
500/500 [==============================] - 2s 3ms/step - loss: 0.5664 - accuracy: 0.8328 - precision: 0.9167 - recall: 0.7714 - val_loss: 0.5554 - val_accuracy: 0.8380 - val_precision: 0.9204 - val_recall: 0.7862
Epoch 10/15
500/500 [==============================] - 2s 3ms/step - loss: 0.5372 - accuracy: 0.8414 - precision: 0.9184 - recall: 0.7842 - val_loss: 0.5035 - val_accuracy: 0.8560 - val_precision: 0.9227 - val_recall: 0.8055
Epoch 11/15
500/500 [==============================] - 2s 3ms/step - loss: 0.5106 - accuracy: 0.8484 - precision: 0.9227 - recall: 0.7927 - val_loss: 0.5248 - val_accuracy: 0.8395 - val_precision: 0.9119 - val_recall: 0.7920
Epoch 12/15
500/500 [==============================] - 1s 3ms/step - loss: 0.4904 - accuracy: 0.8541 - precision: 0.9224 - recall: 0.8033 - val_loss: 0.4525 - val_accuracy: 0.8695 - val_precision: 0.9356 - val_recall: 0.8282
Epoch 13/15
500/500 [==============================] - 2s 3ms/step - loss: 0.4681 - accuracy: 0.8598 - precision: 0.9229 - recall: 0.8093 - val_loss: 0.4621 - val_accuracy: 0.8633 - val_precision: 0.9255 - val_recall: 0.8225
Epoch 14/15
500/500 [==============================] - 2s 3ms/step - loss: 0.4538 - accuracy: 0.8629 - precision: 0.9245 - recall: 0.8170 - val_loss: 0.4535 - val_accuracy: 0.8652 - val_precision: 0.9290 - val_recall: 0.8280
Epoch 15/15
500/500 [==============================] - 2s 3ms/step - loss: 0.4312 - accuracy: 0.8702 - precision: 0.9290 - recall: 0.8253 - val_loss: 0.4311 - val_accuracy: 0.8723 - val_precision: 0.9274 - val_recall: 0.8395

In [13]:
y_pred=model.predict(x_test)
y_pred.shape
print(np.argmax(y_pred,axis=1))
print(le.inverse_transform(np.argmax(y_pred,axis=1)))

125/125 [==============================] - 0s 2ms/step
[24  1 10 ...  0 14  8]
['Y' 'B' 'K' ... 'A' 'O' 'I']

In [14]:
loss,accuracy,precision,recall=model.evaluate(x_test,y_test)
accuracy

125/125 [==============================] - 0s 2ms/step - loss: 0.4311 - accuracy: 0.8723 - precision: 0.9274 - recall: 0.8395

0.8722500205039978